.AddObservation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.AddObservation * {
  max-width: 500px;
}

.AddObservation .small {
  width: 50px;
}

.AddObservation img {
  height: 200px;
}