.AddObservation {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.AddObservation * {
  max-width: 500px;
}

.AddObservation .small {
  width: 50px;
}

.AddObservation img {
  height: 200px;
}
.AddObservation .mini {
  font-size: 0.5em;
  opacity: 0.6;
}