.App {
  text-align: center;
}

.App > header {
  position: fixed;
  z-index: 9999;
  top: 0;
  width: 100vw;
  height: 50px;
  display: flex;
}

.App > header > canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.App > header a {
  flex: 1;
  text-decoration: none;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-style: oblique;
  font-weight: bold;
}

.App .Container {
  margin-top: 50px; 
}
